<body>
    <div class="bg-light shadow-sm p-3 ">
      
      <div class="container-sm d-flex align-items-center justify-content-between">
        <h4 class="fw-bold text-primary">Postogram</h4>

        <button class="btn btn-outline-primary">
          <i class="fa-regular fa-square-plus"></i>
          New Post
        </button>
      
        <div class="d-flex align-items-center fw-bold gap-2">
          <span>@{{{username}}}</span>
          <img src="./avatar.png" alt="" class="border-2 border-primary" style="width: 32px; height: 32px; border-radius: 50%; border: 2px solid crimson;">
        </div>
      </div>

    </div>

    <div class="container-sm">

      <h3 class="my-4">Popular users</h3>
      <div class="d-flex gap-3 p-4 bg-secondary bg-opacity-10 rounded">
          <a href="eliot" class="d-flex flex-column gap-2 p-3 border rounded-3 bg-white shadow-sm border-1 border-primary text-decoration-none">
            <img src="./avatar.png" class="rounded-circle" style="width: 64px; height: 64px;">
            <h5 class="text-center"> Eliot </h5>
          </a>

          <a href="eliot" class="d-flex flex-column gap-2 p-3 border rounded-3 bg-white shadow-sm border-1 border-primary text-decoration-none">
            <img src="./avatar.png" class="rounded-circle" style="width: 64px; height: 64px;">
            <h5 class="text-center"> Eliot </h5>
          </a>

          <a href="eliot" class="d-flex flex-column gap-2 p-3 border rounded-3 bg-white shadow-sm border-1 border-primary text-decoration-none">
            <img src="./avatar.png" class="rounded-circle" style="width: 64px; height: 64px;">
            <h5 class="text-center"> Eliot </h5>
          </a>

          <a href="eliot" class="d-flex flex-column gap-2 p-3 border rounded-3 bg-white shadow-sm border-1 border-primary text-decoration-none">
            <img src="./avatar.png" class="rounded-circle" style="width: 64px; height: 64px;">
            <h5 class="text-center"> Eliot </h5>
          </a>
      </div>

      <div class="d-flex gap-3 flex-wrap">

        <div class="card" style="width: 18rem;">
          <div class="p-3 d-flex align-items-center gap-3">
            <img src="./avatar.png" class="rounded-circle" style="width: 32px; height: 32px;">
            <h5 class="card-title">Elliot</h5>
          </div>
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</body>